# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / building
build/
devel/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs & OS
.vscode/
.idea/
.DS_Store
